body {
    background-color: silver;
}

.container {
    background-color: white;
    box-shadow: 0 0 10px gray;
    padding: 10px;
}

header {
    background-color: slategray;
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 200%;
    line-height: 100px;
}

main {
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 80%;
    padding: 10px;
}

aside {
    background-color: #efefef;
}

textarea {
    height: 400px !important;
    overflow: hidden;
    overflow-y: scroll;
}

.userList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.userList li {
    padding: 10px;
    border-bottom: 1px dotted black;
}

.userList li:first-child {
    border-top: 1px dotted black;
}

.chat-messages {
    height: 500px;
    background-color: white;
    border: 1px solid silver;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: flex-start;
}

.message {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 95%;
}

.message::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #efefef;
    border-width: 10px 15px 10px 0;
    top: 33px;
    left: -15px;
    margin-top: -20px;
}

.uname {
    color: black;
    font-weight: bold;
}

span {
    position: absolute;
    top: 5px;
    right: 10px;
    font-style: italic;
    color: gray;
}

em {
    font-size: 80%;
    color: gray;
    padding: 6px;
}