h1 Blogok listája
hr

table 
    thead 
        tr 
            td cucc 
            td cucc2 
            td cucc 3
        
    tbody 
        - for(var i = 0; i < blogs.length; i++)
            tr 
                td blogs[i].title
                td blogs[i].description
                td blogs[i].date
