<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    <title>NodeJS + EJS példa</title>
</head>
<body>
    <h3>NodeJS + EJS példa</h3> <hr>
    <% results.forEach(element => { %> 
        <%= element.name %> <%= element.email %>
        <br>
    <% }); %>
</body>
</html>