<ul class="menu">
    <li><a href="/newdata">New stepdata</a></li>
    <li><a href="/tableview">Table view</a></li>
    <li><a href="/chartview">Chart view</a></li>
    <li><a href="/calendarview">Calendar view</a></li>
    <li><a href="/passmod">Password change</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>