<%- include('header') %> 

<div class="row">
    <aside class="col-md-4">
        <%- include('nav') %> 
    </aside>
    <section class="col-md-4">
        rfghjkm
    </section>
</div>

<%- include('footer') %> 