<ul class="menu">
    <li><a href="#">New stepdata</a></li>
    <li><a href="#">Table view</a></li>
    <li><a href="#">Chart view</a></li>
    <li><a href="#">Calendar view</a></li>
    <li><a href="#">Change password</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>