<%- include('header') %>
    <main>
        <div class="col-lg-6 offset-lg-3 text-center">
            <section id="gameArea">

            </section>
            
            <section id="controls">
                <button id="koBtn">Kő</button>
                <button id="papirBtn">Papír</button>
                <button id="olloBtn">Olló</button>
            </section>

            <section id="results">
                <span>Idő</span><input type="text" id="time" value="00:00:00">
                <span>Player1</span><input type="text" id="player1_res" value="0">
                <span>Player2</span><input type="text" id="player2_res" value="0">
            </section>
        </div>
    </main>
<%- include('footer') %>