<%- include('header') %>
    <main>
        <div class="col-lg-6 offset-lg-3 text-center">
            <form action="/newGame" method="post">
                <h1 class="m-3">jácás</h1>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nickname1" name="nickname1" placeholder="Név">
                    <label for="nickname">Név</label>
                </div>
                
                <div class="form-floating mb-3">
                    <input type="submit" class="btn btn-primary btn-lg mb-3" value="Új játék">
                </div>
            </form>
            
            <form action="/joinGame" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nickname2" name="nickname2" placeholder="Név">
                    <select class="form-select" id="roomname" name="roomname">
                        <option selected>Válassz...</option>
                        <option value="Frontend programozás">Frontend programozás</option>
                        <option value="Backend programozás">Backend programozás</option>
                        <option value="Fullstack programozás">Fullstack programozás</option>
                    </select>
                    <label for="roomname">Szobanév</label>
                </div>
                
                <select class="form-select" id="roomname" name="roomname">
                    <option selected>Válassz...</option>">Fullstack programozás</option>
                </select>
                <input type="submit" class="btn btn-primary btn-lg mb-3" value="Csatlakozősás játék">
            </form>
        </div>
    </main>
<%- include('footer') %>