<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    <title>Újonnan létrehozott ejs fájl</title>
</head>
<body>
    <h3>e4s</h3> <hr>
    <form action="post">
        <input type="text" name="title">
        <input type="text" name="description">
        <input type="date" name="date">
        <input type="submit" value="submit">
    </form>
    <table>
        <thead>
            <tr>
                <td>title</td>
                <td>desc</td>
                <td>date</td>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(element => { %> 
                <tr>
                    <td>
                        <%= element.title %>
                    </td>
                    <td>
                        <%= element.description %>
                    </td>
                    <td>
                        <%= element.date %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
        <tfoot></tfoot>
    </table>
</body>
</html>