<%- include('header') %>
    <main>
        <div class="col-lg-6 offset-lg-3 text-center">
            <form action="/chat" method="post">
                <h1 class="m-3">Belépés a kő pappir olób a-be</h1>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Név">
                    <label for="nickname">Név</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="roomname" name="roomname">
                  <option value="Frontend programozás" selected>Az efyik sozbas</option>
                  <option value="Backend programozás">az másijk szoba</option>
                  <option value="Fullstack programozás">van egy 3.-madik szoba a is </option>
                </select>
                    <label for="roomname">Szobanév</label>
                </div>

                <input type="submit" class="btn btn-primary btn-lg mb-3" value="Csatlakozás">
            </form>
        </div>
    </main>
    <%- include('footer') %>