<footer>
    <%= app.company %> -
        <%= app.author %>
</footer>
</div>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/moneymanager.js"></script>

</body>

</html>